{
    "extends": [
        "eslint-config-kentcdodds",
        "eslint-config-kentcdodds/react",
        "eslint-config-kentcdodds/jsx-a11y"
    ],
    "rules": {
        "no-console": "warn",
        "react/display-name": "off",
        "react/react-in-jsx-scope": "off",
        "jsx-a11y/prefer-tag-over-role": "off",
        "@typescript-eslint/no-unused-vars": "warn",
        "@typescript-eslint/no-unsafe-assignment": "off"
    },
    "parserOptions": {
        "project": "./tsconfig.json"
    }
}